.button {
    font-size: 10px;
    text-decoration: none;
    padding: 7px 12px;
    font-weight: 500;
    background: none;
    border: 2px solid #1e58ff;
    color: #1e58ff;
  }
  
  .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 30px;margin-right: 30px;
  }